@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply p-5 bg-black h-full;
}

@layer components {
  .sectionTitle {
    @apply text-white text-[2.5rem] sm:text-[4rem] font-bold tracking-wide;
  }

  .dashboardBento {
    @apply grid gap-4;

    grid-template-columns: 1fr;
    grid-template-rows: 300px 80px 1fr;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: fit-content(100px) 1fr;
    }
  }

  .porfolioBento {
    @apply grid gap-4;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content min-content;

    @media (min-width: 768px) {
      grid-template-columns: max-content 1fr;
      grid-template-rows: min-content 1fr;
    }
  }

  .portfolioPreviewBento {
    @apply grid gap-4;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, fit-content);
  }

  .scroll-container {
    scrollbar-color: white black;
  }

  @keyframes slide-right {
    from {
      opacity: 0;
      /* scale: 0.5; */
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      scale: 1;
      transform: translateX(0);
    }
  }

  .bentoSlide {
    animation: slide-right linear;
    animation-timeline: view();
    animation-range: entry 0%;
  }
}
