@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --bg-color: #121212;
  --light-black: rgb(43, 41, 43);

  /* gradients */
  --gradient-header: linear-gradient(
    109.6deg,
    rgb(120, 33, 253) 11.2%,
    rgb(103, 26, 217) 100.2%
  );
}

body {
  padding: 20px;
  background-color: var(--bg-color);
}
